.infoBox {
    border: solid 3px #f0f089;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 200px;
    text-align: left;
}

.infoBoxTitle {
    color: #d26d9d;
}

.infoBoxDescription {
    color: #000;
    margin-top: 10px;
}

.coursesContainer {
    margin-top: 30px;
}
