element {
  --purple: #9876aa;
  --green: #4e9678;
  --blue: #4c97a3;
  --pink: #d26d9d;
  --yellow: #f0f089;
}


.home {
  color: #000000;
}

.header-container {
  padding: 50px;
}

.label {
  display: block;
  margin: 10px;
}

.h1 {
  font-family: 'FiraMono';
  font-size: 3.5rem;
}

.h2 {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.h3 {
  margin-top: 20px;
}

.App {
  background: #FFFFFF;
  text-align: center;
}

.team-text {
  margin-bottom: 30px;
}

.about-us-container {
}

.about-us-image-container {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
}

.about-us-image {
  max-width: 200px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4c97a3;
}

.footer-link {
  color: #f0f089;
}
